.menu-item:hover {
    background-color: transparent;
}

.menu-item {
    text-align: center;
    padding: 5px;
    color: whitee;
    background-color: #2b2b2b;
    outline: none;
    font-size: 16px;
}

.bm-menu {
    background-color: green;
  }

.container {
    background-color: #2b2b2b;
    height: 300px;
}

.home {
    background-color: black;
}