
.row {

    height: 150px;
    width: 1000px;
    padding: 30px;
    opacity: 0.8;
}

td {
    width: 150px;
    height: 150px;
    padding: 30px;
    color: white;
}

thead {
    background-color: black;
}

img {
    width: 200px;
    height: 125px;
}

.table2 {
    
}

.Container {
    margin: 10px;
}