#name_input, #email_input, #telephone_input, #message_input {
    color: white;
}

#form_button {
    background-color: black;
    padding: 20px;
    border-radius: 10%;
    text-decoration: none;
    color: white;
}

#form_button :hover {
    size: 100px;
}