
.table1 {

    height: 150px;
    width: 750px;
    padding: 50px;
}

.table2 {
    height: 150px;
    width: 750px;
    padding: 30px;
}

td {
    width: 120px;
    height: 100px;
    background-color: black;
}

thead {
    background-color: black;
    border: none;
}

img {
    width: 200px;
    height: 125px;
}


.container {
    opacity: 0.75;
    background-color: black;
}